@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  color: white;
  background: #212121
}
.sticky-top {
  position: sticky;
  top: 0; /* Adjust this value as needed */
}
