@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  color: white;
  background: #2d2d2d;
  position: relative; /* Make the body container relative for positioning */
  background-size: 100% auto; /* Auto width and full height for the gradient */

}

.sticky-top {
  position: sticky;
  top: 0; /* Adjust this value as needed */
}
